*{
    top: 0px;
    margin: 0px;
    padding: 0;
}
.header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-top: 5px;
    margin-left: 50px;
    align-self: auto;
    width: 50px;
    height: 105px;
}
.header ul{
    display: flex;
}
ul, li{
    margin: 0px;
    padding: 0;
    list-style: none;
}
.Link{
    color: #DC7633;
    padding: 5px;
    margin-right: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
}
.Link:hover{
    color: #AA0DEC;
}
body{
    background-image: url("Imagenes/Imagenes-Index/background.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;    
}
.Slider {
    width: 95%;
    height: 500px;
    margin: auto;
    overflow: hidden;
}
.Slider ul{
    display: flex;
    padding: 0;
    width: 500%;
    
    animation: cambio 30s infinite alternate;
}
.Slider li{
    width: 100%;
    list-style: none;
}
.Slider img{
    width: 100%;
}

@keyframes cambio{
    0% { margin-left: 0;}
    15%{ margin-left: 0%;}

    20% { margin-left: -100;}
    35% { margin-left: -100%;} 
    
    40% { margin-left: -200;}
    55% { margin-left: -200%;}

    60% { margin-left: -300;}
    75% { margin-left: -300%;}

    80% { margin-left: -400;}
    100% { margin-left: -400%;}
}

.Producto{
    width: 95%;
    height: 10%;
    margin: auto;
    background: white;
}
.Producto ul{
    display: flex;
    padding: 0;
    width: 100%;
}
.Producto ul li{
    padding: 7%;
    list-style: none;
    height: 10%;
}
.footer{
    width: 100%;
    background: #616A6B;
    display: block;
}
.iner-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.footer-items h1{
    padding: 10px 0px;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}
.footer-items p{
    color: white;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}
.footer-items h2{
    margin: 10px;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}
.border{
    height: 2px;
    width: 40px;
    background: #ff9800;
}
.footer-items ul{
    list-style: none;
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.footer-items ul a{
    text-decoration: none;
    outline: none;
    color: white;
    transition: 0.3s;
}
.footer-items ul a :hover{
    color: #AA0DEC;
}
.footer-items ul li{
    margin: 10px;
    height: 25px;
}
.footer-items li i{
    margin-right: 20px;
}
.footer-bottom{
    padding: 10px;
    background: #99A3A4;
    color: white;
    font-size: 12px;
}
